/* stylesheet.css */

body {
	text-align: center;
}

main {
	margin: 10vh;
}

#displayField {
	height: 80vh;
}

.word {
	width: 50px;
	height: 50px;
	background: yellow;
	float: left;
	margin: 5px;
	font-size: 40pt;
	overflow: hidden;
	text-align: center;
}

#control {
	position: relative;
	height: 10vh;
}
#opacityControl {
	width: 100%;
}
.tips {
	position: absolute;
	top: -3.5em;
	left: 0;
	padding: 0.5em 1em 0.4em;
	background-color: #FF5566;
	border: 1px solid #FF0000;
	border-radius: 5px;
	color: #FFFFFF;
}
.tips:after, .tips:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 15px;
	border: solid transparent;
}
.tips:after {
	margin-left: 1px;
	border-top-color: #FF6655;
	border-width: 7px;
}
.tips:before {
	border-top-color: #FF0000;
	border-width: 8px;
}

.scrollBtn {
	padding-top: 60px;
}
.scrollBtn span{
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 25px;
	height: 25px;
	margin-left: -12px;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	transform: rotate(-45deg);
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}
@keyframes sdb {
	0% {
		transform: ratate(-45deg) translate(0,0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: ratate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

#details {
	height: 90vh;
}
